In [7]:
import pandas as pd
pf = pd.read_csv('food.csv')
pf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15 entries, 0 to 14
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Ingredient   15 non-null     object
 1   Sweetness    15 non-null     int64
 2   Crunchiness  15 non-null     int64
 3   FoodType     15 non-null     object
dtypes: int64(2), object(2)
memory usage: 608.0+ bytes

In [8]:
pf.head(5)

  Ingredient  Sweetness  Crunchiness   FoodType
0      apple         10            9      fruit
1      bacon          1            4    protein
2     banana         10            1      fruit
3     carrot          7           10  vegetable
4     celery          3           10  vegetable

In [9]:
pf.tail(2)

   Ingredient  Sweetness  Crunchiness FoodType
13       pear         10            7    fruit
14     shrimp          2            3  protein

In [10]:
pf.shape

(15, 4)

In [11]:
pf.describe()

       Sweetness  Crunchiness
count  15.000000    15.000000
mean    4.733333     5.600000
std     3.514595     3.290679
min     1.000000     1.000000
25%     2.000000     3.000000
50%     3.000000     6.000000
75%     7.500000     8.500000
max    10.000000    10.000000

In [12]:
pf.corr()

             Sweetness  Crunchiness
Sweetness     1.000000     0.070407
Crunchiness   0.070407     1.000000

In [13]:
pf[:3]

  Ingredient  Sweetness  Crunchiness FoodType
0      apple         10            9    fruit
1      bacon          1            4  protein
2     banana         10            1    fruit

In [17]:
pf.iloc[3:7,1:3]

  Sweetness  Crunchiness
3         7           10
4       NaN           10
5         1            1
6         2            8

In [6]:
import pandas as pd
pf1 = pd.read_csv('food_cleaning.csv')
pf1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17 entries, 0 to 16
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Ingredient   17 non-null     object
 1   Sweetness    16 non-null     object
 2   Crunchiness  17 non-null     int64
 3   FoodType     17 non-null     object
dtypes: int64(1), object(3)
memory usage: 672.0+ bytes

In [19]:
pf1.dropna()

    Ingredient Sweetness  Crunchiness   FoodType
0        apple        10            9      fruit
1        bacon         1            4    protein
2       banana        10            1      fruit
3       carrot         7           10  vegetable
5       cheese         1            1    protein
6     cucumber         2            8  vegetable
7         fish         3            1        123
8        grape         8            5      fruit
9   green bean         3            7  vegetable
10     lettuce        AA            9  vegetable
11        nuts         3            6    protein
12      orange         7            3      fruit
13        pear        10            7      fruit
14      shrimp         2            3    protein
15      shrimp         2            3    protein
16      banana        10            1      fruit

In [20]:
pf1.duplicated()

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15     True
16     True
dtype: bool

In [8]:
pf1.duplicated().any()

True

In [23]:
pf1.fillna(6)

    Ingredient Sweetness  Crunchiness   FoodType
0        apple        10            9      fruit
1        bacon         1            4    protein
2       banana        10            1      fruit
3       carrot         7           10  vegetable
4       celery         6           10  vegetable
5       cheese         1            1    protein
6     cucumber         2            8  vegetable
7         fish         3            1        123
8        grape         8            5      fruit
9   green bean         3            7  vegetable
10     lettuce        AA            9  vegetable
11        nuts         3            6    protein
12      orange         7            3      fruit
13        pear        10            7      fruit
14      shrimp         2            3    protein
15      shrimp         2            3    protein
16      banana        10            1      fruit

In [3]:
import pandas as pd
mydataset={'names':['anu','ajmal','nihal'],'marks':[30,78,45]}
dataf=pd.DataFrame(mydataset,index=[1,2,3])
print(dataf)

   names  marks
1    anu     30
2  ajmal     78
3  nihal     45

In [9]:
pf1.drop_duplicates(inplace=True)
print(pf1)

    Ingredient Sweetness  Crunchiness   FoodType
0        apple        10            9      fruit
1        bacon         1            4    protein
2       banana        10            1      fruit
3       carrot         7           10  vegetable
4       celery       NaN           10  vegetable
5       cheese         1            1    protein
6     cucumber         2            8  vegetable
7         fish         3            1        123
8        grape         8            5      fruit
9   green bean         3            7  vegetable
10     lettuce        AA            9  vegetable
11        nuts         3            6    protein
12      orange         7            3      fruit
13        pear        10            7      fruit
14      shrimp         2            3    protein

In [13]:
pf1['Crunchiess']=pf1['Crunchiness'].astype('float')
print(pf1)

    Ingredient Sweetness  Crunchiness   FoodType  Crunchiess
0        apple        10            9      fruit         9.0
1        bacon         1            4    protein         4.0
2       banana        10            1      fruit         1.0
3       carrot         7           10  vegetable        10.0
4       celery       NaN           10  vegetable        10.0
5       cheese         1            1    protein         1.0
6     cucumber         2            8  vegetable         8.0
7         fish         3            1        123         1.0
8        grape         8            5      fruit         5.0
9   green bean         3            7  vegetable         7.0
10     lettuce        AA            9  vegetable         9.0
11        nuts         3            6    protein         6.0
12      orange         7            3      fruit         3.0
13        pear        10            7      fruit         7.0
14      shrimp         2            3    protein         3.0